body{
	background-color: #2F4F4F;

}
h1{
	text-align: left;
	color: #1E90FF;
}

p{
    color:aquamarine;


}

h2{

	text-align: left;
	color: blue;

}

img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-left: : auto;
	margin-right: auto;
}